<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{- partial "meta.html"       . -}}
        {{- partial "favicons.html"   . -}}
        {{- partial "rssfeed.html"    . -}}
        {{- partial "stylesheet.html" . -}}

        <title> {{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
    </head>
<body class="font-sans text-default antialiased leading-tight {{.Kind}}">
    <header class="w-full fixed bg-white z-20 shadow">
        <div id="navigation" class="container py-2 max-w-xl flex items-center justify-between">
            {{- partial "header.html"     . -}}
            {{- partial "navigation.html" . -}}
        </div>
    </header>
    <main class="pt-16">
        <div class="container max-w-xl">
            {{- block "main" . -}}   {{- end -}}
        </div>
    </main>
    {{- partial "footer.html"      . -}}
    {{- partial "javascripts.html" . -}}
</body>
</html>
