<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{- partial "meta.html"       . -}}
        {{- partial "favicons.html"   . -}}
        {{- partial "rssfeed.html"    . -}}
        {{- partial "stylesheet.html" . -}}

        <title> {{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
    </head>
<body class="font-sans text-default leading-tight {{.Kind}}">
    <div class="w-full fixed bg-white z-20 shadow">
        <div class="container px-6 py-2 mx-auto max-w-xl flex items-center justify-between">
            {{- partial "header.html"     . -}}
            {{- partial "navigation.html" . -}}
        </div>
    </div>
    <div class="pt-16">
        <div class="container px-6 mx-auto max-w-xl">
            {{- block "main" . -}}   {{- end -}}
            {{- partial "footer.html"      . -}}
            {{- partial "javascripts.html" . -}}
        </div>
    </div>
</body>
</html>
