{{ define "main" }}
<main class="mt-12 leading-normal">
    {{ range (.Paginator 5).Pages }}
    <article class="mb-8">
        <header class="font-header">
            <h2 class="text-3xl font-semibold">
                <a class="hover:text-primary" href="{{ .Permalink }}">{{ .Title }}</a>
            </h2>
        </header>
        {{- partial "content-meta.html" . -}}
        <div class="leading-relaxed content-body"> {{ .Summary }} </div>
    </article>
    {{ end }}
</main>
{{- partial "pagination.html" . -}}
{{ end }}