{{ define "title" }}
    {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<main class="mt-12 leading-normal">
    <article class="mb-8">
        <header class="font-header">
            <h3 class="text-3xl font-semibold">{{ .Title }}</h3>
        </header>
        <div class="my-2 text-sm text-gray-600 font-semibold uppercase">
            <time datetime="{{ .Date }}">
                {{ .Date.Format "Mon, Jan 2, 2006" }}
            </time>
            {{ if isset .Params "author" }} by {{ .Params.author }} {{ end }}
        </div>
        <div class="leading-relaxed"> {{ .Content }} </div>
    </article>
</main>
{{ end }}