{{- define "title" -}}
    {{ .Title }} &ndash; {{ .Site.Title }}
{{- end -}}

{{- define "main" -}}
<section class="mt-12 leading-normal">
    <article class="mb-12">
        <header class="font-header mb-2">
            <h3 class="text-2xl font-semibold"> List of {{ .Title }} </h3>
        </header>
        <div class="leading-relaxed content-body">
            <ol>
                {{- range .Data.Terms.Alphabetical -}}
                <li class="mb-4">
                    <a
                        class="hover:text-primary font-semibold font-header border-b border-dotted border-gray-900"
                        href="{{ .Page.Permalink }}"
                        >
                        {{ .Page.Title }} ({{ .Count}})
                    </a>
                </li>
                {{- end -}}
            </ol>
        </div>
    </article>
</section>
{{- end -}}