{{- if (isset .Params "canonicalurl") -}}
    {{ $.Scratch.Set "canonicalurl" (.Params "canonicalurl") }}
{{- else if (isset .Site.Params "canonicalurl") -}}
    {{ if (isset .Params "url") }}
        {{ $.Scratch.Set "canonicalurl" (delimit (slice .Site.Params.canonicalurl .Params.url ) "") }}
    {{ else }}
        {{ $.Scratch.Set "canonicalurl" (delimit (slice .Site.Params.canonicalurl .RelPermalink ) "") }}
    {{ end }}
{{- else -}}
    {{ $.Scratch.Set "canonicalurl" (.Permalink | absURL) }}
{{- end -}}

<link rel="canonical"  href='{{ $.Scratch.Get "canonicalurl" }}'>
