<div class="my-2 text-sm text-gray-600 font-semibold uppercase content-meta tracking-wide">
    <span>
        <time datetime="{{ .Date }}"> {{ .Date.Format "Mon, 2 January 2006" }} </time>
    </span>
    <span class="ml-1">
        {{- if isset .Params "author" -}}
            by {{ .Params.author }}
        {{- else if (isset .Site.Params "author") -}}
            by {{ .Site.Params.author }}
        {{- end -}}
    </span>
    <span class="ml-1 content-categories">
        on
        {{ range .Params.categories }}
            <a class="hover:text-black" href='{{ "/categories/" | relLangURL }}{{ . | urlize }}'>{{ . }}</a>
        {{ end }}
    </span>
</div>