<script>
    let menutoggler = document.querySelectorAll('.menu-toggler');

    menutoggler.forEach(button => {
        button.addEventListener('click', e => {
            document.querySelector('#navigation nav').classList.toggle('hidden');

            menutoggler.forEach(a => a.classList.toggle('hidden'));

            e.preventDefault();
        });
    });

    document.addEventListener('scroll', () => {
        let progressbar  = document.querySelector('#progress');
        let html         = document.documentElement;
        let scrollTop    = html.scrollTop    || document.body.scrollTop;
        let scrollHeight = html.scrollHeight || document.body.scrollHeight;
        let scroll       = scrollTop / (scrollHeight - html.clientHeight) * 100;

        progressbar.style.setProperty('--progress', scroll+'%');
    });
</script>