<script>
    let navigation = document.querySelector('#navigation nav');
    let showmenu   = document.querySelector('#showmenu');
    let closemenu  = document.querySelector('#closemenu');

    showmenu.addEventListener('click', (e) => {
        e.preventDefault();

        showmenu.classList.replace('flex', 'hidden');

        navigation.classList.toggle('hidden');

        closemenu.classList.replace('hidden', 'flex');
    });

    closemenu.addEventListener('click', (e) => {
        e.preventDefault();

        closemenu.classList.replace('flex', 'hidden');

        navigation.classList.toggle('hidden');

        showmenu.classList.replace('hidden', 'flex');
    });

</script>