<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

{{ if (isset .Params "description") }}
    {{ $desc := (substr (plainify (.Params "description")) 0 200) }}
    {{ $.Scratch.Set "description" $desc }}
{{ else }}
    {{ $desc := (substr (plainify (.Summary | default .Site.Params.description)) 0 200) }}
    {{ $.Scratch.Set "description" $desc }}
{{ end }}

{{ if .IsPage }}
    {{ $desc := $.Scratch.Get "description" }}
    {{ $desc := (delimit (slice (chomp $desc) "...") "") }}
    {{ $.Scratch.Set "description" $desc }}
{{ end }}

<meta name="description" content='{{ chomp ($.Scratch.Get "description") }}'>

{{- if (isset .Params "canonicalurl") -}}
    {{ $.Scratch.Set "canonicalurl" (.Params "canonicalurl") }}
{{- else if (isset .Site.Params "canonicalurl") -}}
    {{ if (isset .Params "url") }}
        {{ $.Scratch.Set "canonicalurl" (delimit (slice .Site.Params.canonicalurl .Params.url ) "") }}
    {{ else }}
        {{ $.Scratch.Set "canonicalurl" (delimit (slice .Site.Params.canonicalurl .RelPermalink ) "") }}
    {{ end }}
{{- else -}}
    {{ $.Scratch.Set "canonicalurl" (.Permalink | absURL) }}
{{- end -}}

<link rel="canonical"  href='{{ $.Scratch.Get "canonicalurl" }}'>
