<nav id="navigation" class="fixed md:relative md:flex z-10 inset-0 bg-white pt-24 md:pt-0 md:mt-4 max-w-xl mx-auto hidden">
    <div class="uppercase p-6 md:p-0 flex flex-col md:flex-row tracking-wide">
        <a href="" class="block mb-8 md:mb-0 md:mr-8 font-semibold md:text-gray-600 hover:text-black md:text-sm">Articles</a>
        <a href="" class="block mb-8 md:mb-0 md:mr-8 font-semibold md:text-gray-600 hover:text-black md:text-sm">Projects</a>
        <a href="" class="block mb-8 md:mb-0 md:mr-8 font-semibold md:text-gray-600 hover:text-black md:text-sm">Blogroll</a>
        <a href="" class="block mb-8 md:mb-0 md:mr-8 font-semibold md:text-gray-600 hover:text-black md:text-sm">Contact</a>
    </div>
</nav>