<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.Site.Title}}</title>


    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">

    {{ $css := resources.Get "css/style.css" | resources.Fingerprint "sha256" }}

    <link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity}}" >
</head>
<body>
    <header>
        <div class="container mx-auto p-4 max-w-lg">
            <h3 class="font-display text-3xl">
                <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
            </h3>
        </div>
    </header>
    <main class="container mx-auto px-4 max-w-lg">
        {{ range (.Paginator 3).Pages }}
        <article class="mb-8">
            <header>
                <h3 class="text-3xl"><a class="hover:text-indigo-500" href="{{ .Permalink }}">{{ .Title }}</a></h3>
            </header>
            <div class="my-2 text-sm text-gray-600">
                <time datetime="{{ .Date }}">
                    {{ .Date.Format "Mon, Jan 2, 2006" }}
                </time>
                {{ if isset .Params "author" }} by {{ .Params.author }} {{ end }}
            </div>
            <div class="leading-relaxed font-sans">
                <p>{{ .Summary }}</p>
            </div>
        </article>
        {{ end }}
        <nav class="my-8 flex w-auto">
            {{ if .Paginator.HasPrev }}
            <a
                class="bg-transparent p-2 w-24 text-center border border-gray-500 hover:text-white hover:bg-indigo-500 hover:border-indigo-500"
                href="{{ .Paginator.Prev.URL | absURL }}">Previous
            </a>
            {{ end }}

            <span class="p-2 w-auto flex-1 text-center
            {{ if not .Paginator.HasPrev }} ml-24 {{ end }}
            {{ if not .Paginator.HasNext }} mr-24 {{ end }}
            ">
                Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}
            </span>

            {{ if .Paginator.HasNext }}
            <a
                class="bg-transparent p-2 w-24 text-center border border-gray-500 hover:text-white hover:bg-indigo-500 hover:border-indigo-500"
                href="{{ .Paginator.Next.URL | absURL }}">Next
            </a>
            {{ end }}
        </nav>
    </main>
    <footer>
        <nav> </nav>
    </footer>
</body>
</html>