{{ define "main" }}
<main class="mt-12 leading-normal">
    {{ range (.Paginator 5).Pages }}
    <article class="mb-8">
        <header class="font-header">
            <h3 class="text-3xl font-semibold">
                <a class="hover:text-indigo-500" href="{{ .Permalink }}">{{ .Title }}</a>
            </h3>
        </header>
        <div class="my-2 text-sm text-gray-600 font-semibold uppercase">
            <time datetime="{{ .Date }}">
                {{ .Date.Format "Mon, Jan 2, 2006" }}
            </time>
            {{ if isset .Params "author" }} by {{ .Params.author }} {{ end }}
        </div>
        <div class="leading-relaxed">
            <p>{{ .Summary }}</p>
        </div>
    </article>
    {{ end }}
</main>
{{ end }}